:root {
  --white: #ffffff;
  --black: #3d3d3d;

  --main-purple: #6943ff;
  --accent-purple: #b295ff;
  --text-purple: #ccc1ff;

  --main-bg: #1c1c1c;
  --accent-bg: #273549;
  --accent-bg-drk: #1f2937;
}

/* RESETS */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/* --------------------------------------------- */
body::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  padding: 12.6rem 10rem;
}

.wrapper {
  max-width: 65em;
  margin: 0 auto;
  background-color: var(--accent-bg-drk);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conversion__head {
  margin-bottom: 2.25rem;
  min-width: 100%;
  padding: 1.875rem 3.347rem;

  text-align: center;
  background-color: var(--main-purple);

  h1 {
    margin-bottom: 1.875rem;

    font-size: 1.75rem;
    color: var(--white);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    margin-bottom: 1.562rem;
    width: 7.312rem;
    height: 5.187rem;

    border: none;
    border-radius: 0.31rem;
    outline: 3px solid var(--accent-purple);
    background-color: transparent;

    font-size: 3.625rem;
    font-weight: 900;
    color: var(--white);
    text-align: center;
  }

  button {
    padding: 0.625rem 1.75rem;
    border: none;
    border-radius: 0.31rem;

    font-size: 1rem;
    cursor: pointer;
    background-color: var(--text-purple);
  }

  #reset-btn {
    background-color: var(--accent-purple);
    color: var(--white);
  }
}

.conversion__output {
  margin-bottom: 2.25rem;
  padding-inline: 1.562rem;
  /* width: 100%; */

  .box {
    padding: 1.25rem 4.812rem;
    background-color: var(--accent-bg);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    h2 {
      margin-bottom: 0.625rem;
      text-align: center;
      font-size: 1.25rem;
      color: var(--text-purple);
    }

    p {
      text-align: center;
      font-size: 0.875rem;
      color: var(--white);
    }
  }
}
